@media screen and (min-width: 992px) {
	.header-wrapper.navbar-light .navbar-nav .nav-link {
    	padding: 30px 8px;
	}
	.header-wrapper.navbar {
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media screen and (min-width: 1400px) {
	.certificate-img {
		height: 280px;
	}
}

@media screen and (max-width: 1170px) {
	.number-box p {
	    font-size: 18px;
	    line-height: 28px;
	}
}

@media screen and (max-width: 991px) {
	.info-wrap {
	    margin-top: 0;
	    background-color: #42a85a;
	}
	.footer {
	    padding: 50px 0;
	    margin-top: 0;
	}
	.info-wrap .container {
	    padding: 50px 15px;
	}
	.info-right li a {
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 45px;
	}
	.left-product-col {
		height: 400px;
	}
}

@media screen and (max-width: 575px) {
	.hero-wrapper {
		height: 250px;
	}
	.slider-wrapper {
		height: auto;
	}
	.slider-wrapper ul li {
		width: 33.33%;
		height: 200px;
		box-shadow: none;
	}
	.img-title a {
		padding: 5px;
		font-size: 14px;
	}
}

@media screen and (max-width: 375px) {
	.left-info a {
		font-size: 16px;
		line-height: 26px;
	}
	.header-wrapper .navbar-brand {
		width: 200px;
	}
	.slider-wrapper ul li {
		height: 150px;
	}
}